@use '../partials/colors';
@use '../partials/mixins';

.menu-section {
    padding-top: 20px;
    padding-bottom: 40px;

    h1 {
        color: colors.$peach-amber;
        text-align: center;
        font-family: 'rammetto one';
        font-size: 3em;
     }

     details {
        summary {
            background-color: colors.$fairy-floss;
            color: colors.$bauhaus;
            font-family: 'open sans';
            font-weight: bold;
            font-size: 1.5em;
            padding: 15px;
            width: 80%;
            justify-self: center;
        }

        .dropdown {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;


            .card {
            background-color: colors.$fairy-floss;
            width: 320px;
            height: 400px;
            padding-top: 25px;
            color: colors.$bauhaus;
            text-align: center;
            font-family: 'open sans';
            flex-shrink: 0;

                .card-title {
                    padding-top: 15px;
                    font-weight: bold;
                    font-size: 1.6em;
                    padding-bottom: 15px;
                }

                .card-tag {
                    display: flex;
                    justify-content: center;
                    font-size: 1em;
                    font-weight: regular;
                    gap: 8px;
                }
            }
        }
     }
}


